@import '~bootstrap/scss/bootstrap';

body {
  background-color: #f7f1f1;
}

button {
  background-color: #d43232;
  color: #f7f1f1;
}

h3 {
  font-weight: bold;
  margin-top: 5vh;
  text-align: center;
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
  margin-right: 2vw;
}


h1 {
  border: 10px;
  font-size: 65px;
  font-weight: bold;
  min-width: 370px;
  padding: 10px;
  text-align: center;
}

.account-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5vw;

  > div {
    align-items: center;
    border: solid #680404;
    display: flex;
    flex-flow: row wrap;
    height: 15vh;

    > label {
      font-size: 30px;
      font-weight: bold;
      padding-left: 1vw;
      padding-right: 2vw;
    }

    > form {
      > label {
        font-size: 30px;
        font-weight: bold;
        padding-left: 1vw;
        padding-right: .5vw;
      }

      > input {
        font-size: 18px;
      }
    }
    > span {
      font-size: 25px;
    }
  }

}

.authentication {
  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    > form {
      display: flex;
      flex-direction: column;
      margin-top: 5vh;
      text-align: center;

      > button {
        margin-top: 1vh;
      }

      > input {
        margin: 0;
        text-align: center;
      }

      > label {
        font-size: 1.5rem;
        font-weight: 450;
        margin-bottom: 0;
        margin-top: 3vh;
      }
    }
  }
}

.error {
  background-color: #e51313;
}

.my-lists-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3vw;

  > form {

    border: solid #680404;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    > button {
      max-height: 30px;
    }

    > div {
      align-items: center;
      display: flex;
      flex-flow: column;
      font-size: 18px;
      padding: 3px;
    }
  }
}

.other-label {
  font-weight: bold;
}

.hidden {
  display: none;
}

#get-errands {
  display: flex;
  flex-flow: column-reverse wrap;


  > form {
    border: solid #680404;
    display: flex;
    flex-flow: column wrap;
    font-size: 18px;

    > button {
      height: 30px;
      width: 70px;
    }

    > div {
      align-items: center;
      display: flex;
      flex-flow: row wrap;

      > input,
      label,
      p {
        border: 8px;
        margin: 2px;
        padding: 8px;
      }

      > label {
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
}

.hidden {
  display: none;
}

#user-feedback {
  font-size: 150%;
  height: 35px;
}
